<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.Arrow" version="23.0.0" targetFramework="net48" />
  <package id="Apache.Arrow.Scalars" version="23.0.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="FirebirdSql.Data.FirebirdClient" version="10.3.4" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.35.0" targetFramework="net48" />
  <package id="IronCompress" version="1.6.3" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Analysis" version="0.23.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.8" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="5.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="9.7.0" targetFramework="net48" />
  <package id="Npgsql" version="8.0.9" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="23.26.200" targetFramework="net48" />
  <package id="Parquet.Net" version="4.20.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Snappier" version="1.3.1" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.8" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.8" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.8" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.8" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.8" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.8" targetFramework="net48" />
</packages>